# Python bytecode
__pycache__/
*.py[cod]

ticketing_system/__pycache__/

# Virtual environment
.venv/
env/
venv/

# SQLite database file
db.sqlite3

# Env files
*.env
.env.*
!.env.dist

# IDE/editor files
.vscode/
.idea/
*.iml
